
@model WebPortalUser.Models.Personel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <style>


        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .media screen and (max-width:600px) {
            .col-25, .col-75, input[type=submit]


        {
            width: 100%;
            margin-top: 0;
        }
        }
    </style>

</head>
<body>
    @using (Html.BeginForm("PersonelEkle", "Home", FormMethod.Post))
    {

        <div class="container">
            <form action="/action_page.php">

                <div class="row">
                    <div class="col-25">
                        <label for="fname">Ad</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="ad" name="ad">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="lname">Soyad</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="soyad" name="soyad">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="country">Ülke</label>
                    </div>

                    <div class="col-75">

                        <select id="test" name="Ulke" type="text">
                            <option value="tr">Türkiye</option>
                            <option value="ka">Kanada</option>
                            <option value="abd">ABD</option>
                            <option value="isp">İspanya</option>
                            <option value="İng.">İngiltere</option>
                        </select>

                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="subject">Konu</label>
                    </div>
                    <div class="col-75">
                        <textarea id="konu" name="Konu">Bir şeyler yaz...</textarea>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Gönder">
                </div>
            </form>
        </div>


    }

</body>
</html>
