
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">
            <div class="navbar-brand">
                @{
                    if (Session["UserInfo"] != null)
                    {
                        <div>@Session["UserInfo"].ToString() Hoş geldiniz</div>

                    }
                }
            </div>
        </div>

        @Html.ActionLink("Tüm Kullanıcılar", "TumListe", "Home", new { @class = "navbar-brand" })

        <ul class="nav navbar-nav navbar-right">
            @Html.ActionLink(" ", "Exit", "Home", new { @class = "navbar-brand glyphicon glyphicon-log-out", @title = "Çıkış Yap" })
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>