@model KMWG_MVCApp.Models.UserModel
<div class="col-md-3" style="border:double">
    <strong>
        @Model.Name (@Model.UserName)

    </strong>
   
    <br />
    @foreach (var item in Model.Address)
    {
        @item
    }
</div>